.ligne {
    display:inline-block;
    width:23%;
    text-align:center;
    list-style:none;
}

.inscription {
    display:inline-block;
    width:7%;
    margin-top:10px;
}

.error {
    background-color:orange;
}

#nonestyle {
    list-style:none;
}